:root{
    --clr-main-900: #8F51E8;
    --clr-main-700: #6A55F2;
    --clr-main-500: #5869DB;
    --clr-main-400: #5593F2;
    --clr-main-300: #51B5E8;
    --clr-main-100: #effcfc;
    --clr-neau-900: black;
    --clr-neau-700: rgb(61, 61, 61);
    --clr-neau-200: rgb(168, 166, 169);
    --clr-neau-100: white;
}

.body {
    /* background-color:var(--clr-main-100); */
    color: var(--clr-neau-700);
    font-family: 'Work Sans', sans-serif;
}

.nav-bar-custom {
    background-color:  var(--clr-neau-100);
    color: var(--clr-main-500);
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 3px var(--clr-main-500) solid;
    border-top: 3px var(--clr-main-500) solid;
}

.nav-bar-custom li a{
    color: var(--clr-main-500);

}

.nav-bar-custom li a:hover{
    background-color: var(--clr-main-500);
    color: var(--clr-neau-100);

}

#jumbotron{
    color: var(--clr-main-500);
    font-style: italic;
    font-family: 'Work Sans', sans-serif;
    border: 3px var(--clr-main-500) solid;
    background-color: var(--clr-neau-100);
    padding: 20px;
    border-radius: 16px;
}


#jumbotron p{
    color: var(--clr-main-500);
    font-weight: bold;
}

.card-custom{
    color: var(--clr-main-500);
    font-style: italic;
    font-family: 'Work Sans', sans-serif;
    border: 3px var(--clr-main-500) solid;
    background-color: var(--clr-neau-100);
    padding: 20px;
    border-radius: 16px;
    
}

.card-custom h3{
    font-family: 'Work Sans', sans-serif;
    font-style: italic;

}

.card-custom label{
    color: var(--clr-main-500);
    font-size: 30px;
    font-size: large;
    font-weight: bold;
    margin-left: 5px;
}

.card-custom input{
    border: 1px var(--clr-main-500) solid;
    border-radius: 12px;
    height: 50px;
    font-size: 25px;
}

.button-custom {
    border-radius: 8px;
    font-size: larger;
    font-weight: bolder;
    background-color: var(--clr-main-500);
    color: var(--clr-main-100);
    font-family: 'Work Sans', sans-serif;
    font-style: italic;

}

.button-custom:hover {
    background-color: var(--clr-main-500);
    transform: scale(1.02);

}

.pricing-table{
    border: 2px var(--clr-main-500) solid;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(243,246, 243, 0.523);
    border-radius: 20px;
    margin: 20px;
    max-width: 400px;
}

.price {
    background-color: rgba(105, 105, 105, 0.997);
    font-size: large;
    color: var(--clr-neau-100);
}

.title{
    font-size: 26px;
    background-color: var(--clr-main-500);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /* text-decoration: underline; */
    font-weight: bold;

    color:var(--clr-neau-100);
}

.description{
    text-align: center;
    margin-bottom: 5px;
}

.cta-button{
    margin-top: 10px;
}



#jscard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#jscard:target{
    transform: scale(1.02);
}

footer {
    background-color: var(--clr-main-300);

}

footer a {
    color: var(--clr-main-500);
}

footer p {
    color: var(--clr-neau-900);
}

#custom-footer {
    color: var(--clr-main-100);
    padding-top: 20px;

}